{% extends 'list/grocery_base.html' %}
{% load i18n %}
{% load static %}
{% block jscript %}
  <script type="text/javascript" src="{% static "js/jquery/jquery.formset.js" %}"></script>
  <script type="text/javascript">
    $(function() {
      $('#grocery-form tbody tr').formset({
        prefix: '{{ formset.prefix }}',
        extraClasses: ['row1', 'row2'],
        deleteText: ''
      });
    })
  </script>
{% endblock %}

{% block content %}
  <form class="form-horizontal" id="grocery-form" action="" method="post">{% csrf_token %}
    <fieldset>
      <legend>{% trans 'grocery list' %}</legend>
      <input type="hidden" id="id_author" name="author" value="{{ user.id }}" />
      <div class="control-group">
        <label class="control-label" for="id_{{ form.title.name}}">{{ form.title.label|lower }}</label>
        <div class="controls">
         {{ form.title }}{{ form.title.errors }}
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{% trans 'items' %}</legend>
      <p>{{  formset.non_form_errors }}</p>
      <table class="table table-bordered"id="list-grid">
        <tbody>
          {% for form in formset.forms %}
            <tr id="{{ form.prefix }}-row" class="{% cycle 'row1' 'row2' %}">
              <td>
                {% for hid in form.hidden_fields %}{{ hid }}{% endfor %}
                {% if form.instance.pk %} {{  form.DELETE }}{% endif %}
                {{ form.item.errors }} {{ form.item.label_tag|lower }}
              </td>
              <td class="item">{{ form.item }}</td>
              <td>{{ form.aisle.errors }} {{ form.aisle.label_tag|lower }}</td>
              <td class="aisle">{{ form.aisle }}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </fieldset>
    <div class="form-actions">
      {{ formset.management_form }}
       <button type="submit" class="btn btn-info">{% trans 'save list' %}</button>
       <a class="btn" href="{% url 'grocery_list' %}">{% trans 'cancel' %}</a>
    </div>
  </form>
{% endblock %}