{% extends 'list/grocery_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} | {{ list.author }} | {% trans 'grocery list' %} {% endblock %}

{% block content %}
    {% if list.get_shared %}
        <div class="alert alert-info">
            {% trans 'this list is currently shared by' %} {{ list.author }} {% trans 'to user' %} {{ list.get_shared_to }}
        </div>
    {% endif %}
    <h2>{{ list.author}} {% trans 'grocery list -' %} {{ list.title }}</h2>
    <div class="well">
        {% if list.author == request.user %}
          <a href="{% url 'grocery_delete' id=list.id %}" onclick="return confirm('Are you sure you want to delete?')" >
            <img class="grocery-delete" src="{% static "img/remove.gif" %}" alt="remove"/></a>
        {% endif %}
        {% load grocery_item %}
        {% item_tag list.items.all %}
    </div>
{% endblock %}