{% comment %}This template is the template for the grocery list email body{% endcomment %}
{% load i18n %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="print" href="http://{{ request.get_host }}{% static "css/grocery_print.css" %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://{{ request.get_host }}{% static "css/grocery_prints.css" %}" />
        <title>{{ OETITLE }}{% trans 'Email'%} {{ list }}</title>
    </head>
    <body>
        <div id="grocery-print">
            <img src="http://{{ request.get_host }}{{ OELOGO }}" alt="OpenEats logo" />
            <h2>{% trans 'grocery list ' %}{{ list }}</h2>
                {% load grocery_item %}
                {% item_tag list.items.all %}
        </div>
    </body>
</html>
