{% extends 'base.html' %}
{% comment %}This template is called by the search view to display a list of recipes found from the search{% endcomment %}

{% load i18n %}
{% load sanitize %}
{% load imagekit %}
{% load static %}

{% block jscript %}
    <script type="text/javascript" src="{% static "js/jquery.ui.stars/jquery.ui.stars.js" %}"></script>
    <link href="{% static "js/jquery.ui.stars/jquery.ui.stars.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<h2 id="search-header">{%trans 'Search Results' %}</h2>
{% for result in page.object_list %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".{{ result.object.slug }}-rate").stars({
                inputType: "select",
                disabled: true
            });
            var avg = '{{result.object.rating.score}}' / '{{result.object.rating.votes}}';
            var selectid = avg - 1;  // the average rating and minus one selects start with zero so a score of one is actuall an id of 0
            $(".{{ result.object.slug }}-rate").stars("selectID", selectid); //set the select value to the avg rate
        });
    </script>


    <div class="col-md-9">
        <div class="thumbnail well well-sm">
            <a href="{{ result.object.get_absolute_url }}">
                {% if result.object.photo %}
                    {% generateimage 'recipe:list' source=result.object.photo -- alt=recipe.photo.name class="pull-right" %}
                {% else %}
                    <img class="pull-right" src="{% static "images/parsley.jpg" %}" alt="{{ result.object.title }} photo"/>
                {% endif %}
            </a>
            <div class="caption">
                <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>

                <p class="chef">{% trans 'Chef:' %} <a
                        href="{{ result.object.author.profile.get_absolute_url }}">{{ result.object.author }}</a>
                </p>

                <form>
                    <div class="{{ result.object.slug }}-rate recipe-rate">
                        <p class="rating-title"><strong>{% trans 'Average Rating:' %}</strong> <span
                                class="rating-cap"></span></p>
                        <select name="selrate">
                            <option value="1">{% trans 'Poor' %}</option>
                            <option value="2">{% trans 'Fair' %}</option>
                            <option value="3">{% trans 'OK' %}</option>
                            <option value="4">{% trans 'Good' %}</option>
                            <option value="5">{% trans 'Wow' %}</option>
                        </select>
                    </div>
                </form>
                <div class="recipe-info">
                    <p>{{ result.object.info|striptags|truncatewords:'100' }}</p>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <p>{% trans 'No Results found for search query' %} {{ query }} </p>
{% endfor %}

{% endblock %}