{% extends 'base.html' %}
{% comment %}This template displays the users profile{% endcomment %}
{% load i18n %}
{% load recipe_count %}
{% load gravatar_profile %}
{% block title %}{{ profile.user.username }} {%trans 'profile' %} {% endblock %}

{% block jscript %}
{% load static %} 

 <script type="text/javascript">
    $(function() {
        var hijax = function(panel) {
            $('ul.pagination a', panel).click(function(){
                $(panel).load(this.href, {}, function() {
                    hijax(this);
                });
                return false;
            });
        };
        $("#tabs").tabs({
            ajaxOptions: {
                error: function(xhr, status, index, anchor) {
                    $(anchor.hash).html("Couldn't load this tab.");
                }
            },
            load: function(event, ui) {
                hijax(ui.panel);

            }
        });
    });

    $(document).ready(function () {
        $.each($('#navbar').find('li'), function() {
            $(this).toggleClass('active',
                '/' + $(this).find('a').attr('href') == window.location.pathname);
        });
    });

</script>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
          <h2>{{ profile.user.username }} {%trans 'profile' %}</h2>
          {% if profile.user != request.user %}
            <a href="/follow/add/{{ profile.user.username }}/following/">
            <img src="{% static "images/follow-me.png" %}" /></a>
          {% endif %}
          {% autoescape off %}
          {% gravatar profile.user 120%}
          {% endautoescape %}
          <div class="caption">
              <h5>{% trans 'info' %}</h5>
                {% if profile.location %}
                    <p><span class="profile-info">{%trans 'location:' %}</span> {{ profile.location }}</p>
                {% endif %}
                {% if profile.gender %}
                    <p><span class="profile-info">{%trans 'gender:' %}</span> {{ profile.gender }}</p>
                {% endif %}
                {% if profile.url %}
                    <p><span class="profile-info">{%trans 'website:' %}</span> <a href="{{ profile.url }}"> {{ profile.url }}</a></p>
                {% endif %}
          </div>
        </div>
    </div>
  </div>

    <div class="well well-sm">
        <h3>{% trans 'all about me' %}</h3>
        <p>{{ profile.about }}</p>
    </div>



     <div id="tabs">
        <ul>
             <li><a href="/recipe/ajaxulist/share/{{ profile.user.username }}/">{%trans 'recipes' %}({{ profile.user.username|recipeCount:'shared'}})</a></li>
            {% if profile.user.username == request.user.username %}
             <li><a href="/recipe/ajaxulist/private/{{ profile.user.username }}/">{%trans 'private recipes' %}({{ profile.user.username|recipeCount:'private'}})</a></li>
             <li><a href="/recipe/ajax-favrecipe/">{%trans 'favorites' %}({{profile.user.storedrecipe_set.count}})</a></li>
             <li><a href="/list/grocery/grocery-ajax/"> {%trans 'grocery list' %}({{profile.user.grocerylist_set.count}})</a></li>
             <li><a href="{%  url 'friends_following' username=profile.user.username %}">{% trans 'followers' %}</a></li>
             <li><a href="{%  url 'friends_feed' username=profile.user.username %}">{% trans 'feed' %}</a></li>
             <li><a href="#settings">{%trans 'settings' %}</a></li>
            {% endif %}

        </ul>
        {% if profile.user.username == request.user.username %}
         <div id="settings">
           <ul>
             <li><a href="/profiles/edit/">{%trans 'edit Profile' %}</a></li>
             <li><a href="/accounts/password/change/">{%trans 'change password' %}</a></li>
             <li><a href="/accounts/logout/">{%trans 'logout' %}</a></li>
           </ul>
         </div>
        {% endif %}
    </div>

</div>
{% endblock %}