{% load i18n %}
{% load gravatar_profile %}
{%  comment %} This page displays a list of followers friends and people a user is following.  This will be displayed on the users profile using a jquery ui tab{% endcomment %}

<h3>{% trans 'who I am following' %}</h3>
<ul>
{% for user in following_list %}
    <li><a href="{{ user.get_profile.get_absolute_url }}">{% gravatar user 140 %}</a></li>
{% endfor %}
</ul>


<h3>{% trans 'who is following me' %}</h3>
<ul>
{% for user in followers_list %}
    <li><a href="{{ user.get_profile.get_absolute_url }}">{% gravatar user 140 %}</a></li>
{% endfor %}
</ul>

{% if request.user.username == user %}
    <h3>{% trans 'blocking' %}</h3>
    <ul>
    {% for user in blocking_list %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
{% endif %} 