{% load i18n %}
{% load gravatar_profile %}
{%  comment %} This page displays a list of followers friends and people a user is following.  This will be displayed on the users profile using a jquery ui tab{% endcomment %}

<div class="following">
    <h3>{% trans "chefs I'm following-" %}</h3>
    {% for user in following_list %}
        <dl class="follow-caption">
            <dt><a href="{{ user.profile.get_absolute_url }}" alt="{{ user }} profile">{% gravatar user 140 %}</a></dt>
            <dd><span>{{ user.username }}<cite>un-follow</cite></span></dd>
        </dl>
    {% endfor %}
</div>
<br style="clear:both"/>
<div class="following">
    <h3>{% trans "chefs following me-" %}</h3>
        {% for user in followers_list %}
        <dl class="follow-caption">
            <dt><a href="{{ user.profile.get_absolute_url }}" alt="{{ user }} profile">{% gravatar user 140 %}</a></dt>
            <dd><span>{{ user.username }}<cite>un-follow</cite></span></dd>
        </dl>
    {% endfor %}

</div>

{% if username == request.user.username %}
    <br style="clear:both"/>
    <div class="following">
        <h3>{% trans "chefs I'm blocking --" %}</h3>
            {% for user in blocking_list %}
            <dl class="follow-caption">
                <dt><a href="{{ user.profile.get_absolute_url }}" alt="{{ user }} profile">{% gravatar user 140 %}</a></dt>
                <dd><span>{{ user.username }}<cite>un-block</cite></span></dd>
            </dl>
        {% endfor %}

    </div>
{% endif %}
<br style="clear:both"/>