#Third party package requirements for OpenEats 2

django==1.5.2
django-debug-toolbar==0.9.4
django-disqus==0.4.1
django-imagekit==0.4.0
django-reversion==1.5
django-taggit==0.9.3
akismet==0.2.0
pil==1.1.7
south==0.8.2
django_navbar==0.3.0
django-profiles==0.2
feedparser==4.1
html5lib==0.90
whoosh==2.5.2
django-pagination==1.0.7
django-haystack==2,1.0
django-rosetta==0.6.2
django-taggit-templatetags==0.4.6dev
django-extensions==0.6
django-indexer==0.3.0
django-paging==0.2.4
webtest==1.2.3
django-webtest==1.4.1
reportlab==2.5
django-grappelli==2.4.5
django-relationships==0.3.0
django-tastypie==0.9.11
lxml==2.3
https://github.com/qgriffith/django-ratings/zipball/stable
https://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz