#Third party package requirements for OpenEats 2

django==1.3
django-debug-toolbar==0.8.4
django-disqus==0.4.1
django-imagekit==0.3.3
django-reversion==1.3.1
django-taggit==0.9.3
akismet==0.2.0
pil==1.1.7
south==0.7.2
django_navbar==0.3.0
django-profiles==0.2
feedparser==4.1
html5lib==0.90
whoosh==1.8.3
django-generic-flatblocks
django-haystack==1.2.3
django-rosetta==0.6.0
django-taggit-templatetags==0.4.6dev
django-sentry==1.3.13
django-extensions==0.6
django-indexer==0.2
django-paging==0.2.2
webtest==1.2.3
django-webtest==1.2.1
reportlab==2.5
django-admin-tools==0.3.0
https://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz
https://github.com/coleifer/django-relationships/tarball/4b56427b78ea5313b5a30cff51251bcf7712df4c
https://github.com/dcramer/django-ratings/tarball/3c31fac17a8a1b53628101e7addb8f5db7d775fe
