{% load i18n %}

{% if 'recipe_history' in request.session %}
    <h3>{% trans 'last viewed' %}</h3>
    <ul>
        {% for t,l in request.session.recipe_history %}
            <li><a href="{{ l }}" alt={{ t }}>{{ t }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<h3>{% trans 'browse' %}</h3>
<ul>
    {% for course in course_list %}
    <li><a href="{% url course_recipes slug=course.slug %}">{{ course }}</a>  </li>
    {% endfor %}
    {% for cuisine in cuisine_list %}
    <li> <a href="{% url cuisine_recipes slug=cuisine.slug %}">{{ cuisine }}</a> </li>
    {% endfor %}
</ul>