{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<form class="well form-vertical" action="" method="post">{% csrf_token %}
   {{ form.old_password.label_tag }}
   {{ form.old_password.errors }}
    <p>{{ form.old_password }}</p>

    {{ form.new_password1.label_tag }}
    {{ form.new_password1.errors }}
    <p>{{ form.new_password1 }}</p>

    {{ form.new_password2.label_tag }}
    {{ form.new_password2.errors }}
    <p>{{ form.new_password2 }}</p>
    <button type="submit" class="btn">{% trans 'change password' %}</button>
</form>
{% endblock %}