{% load i18n %}
{% include "sidebar/search.html" %}
{% if 'recipe_history' in request.session %}
<center>
    <h4 class="page-header navheader">{% trans 'last viewed' %}</h4>
    <div class="btn-group-vertical">
    {% for t,l in request.session.recipe_history %}
        <button type="button" class="btn btn-info" href="{{ l }}" alt={{ t }}>{{ t }}</button>
    {% endfor %}
    </div>
{% endif %}
</center>
<center>
<h4 class="page-header navheader">{% trans 'browse' %}</h4>
<div class="btn-group-vertical">
        <button type="button" class="btn btn-info" href="{% url 'recipe_top' %}"> {% trans 'top recipes' %}</button>
        <button type="button" class="btn btn-info" href="{% url 'recipe_recent' %}"> {% trans 'recent recipes' %}</button>
    {% for course in course_list %}
        <button type="button" class="btn btn-info" href="{% url 'course_recipes' slug=course.slug %}">{{ course }}</button>
    {% endfor %}
    {% for cuisine in cuisine_list %}
        <button type="button" class="btn btn-info" href="{% url 'cuisine_recipes' slug=cuisine.slug %}">{{ cuisine }}</button>
    {% endfor %}
</div>
</center>