{% load i18n %}
{% load static %}
{% include "sidebar/search.html" %}
{%  if list.id %}
    <script type="text/javascript" src="{% static "js/oe_email.js" %}"></script>
{% endif %}


{% if list.id %}
    <h4 class="page-header navheader">{% trans 'actions' %}</h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'grocery_print' user=list.author slug=list.slug %}">{% trans 'print ' %}{{ list }}</a></li>
        <li class="list-group-item"><a href="{% url 'grocery_edit' user=list.author slug=list.slug %}">{%trans 'edit ' %} {{ list }}</a></li>
        <li class="list-group-item"><a title="{% trans 'send list ' %} {{ list }}" id='email-link' href="{% url 'grocery_mail' gid=list.id %}">{% trans 'email ' %} {{  list }}</a></li>
        {% if list.author == request.user %}
            <li class="list-group-item"><a href="{% url 'grocery_delete' id=list.id %}" onclick="return confirm('are you sure')">{%trans 'delete ' %} {{ list }}</a></li>
        {% endif %}

        {% if not list.get_shared %}
            <li class="list-group-item"><a href="{% url 'grocery_share' user=list.author slug=list.slug %}">{% trans 'share' %} {{ list }}</a></li>
        {% else %}
            <li class="list-group-item"><a href="{% url 'grocery_unshare' user=list.author slug=list.slug %}">{% trans 'un-share' %} {{ list }}</a></li>
        {% endif %}
    </ul>

    <h4 class="page-header navheader">{% trans 'recipes on list' %}</h4>
    <ul class="list-group">
    {% for recipe in list.groceryrecipe_set.all  %}
        <li class="list-group-item"><a href="{% url 'recipe_show' slug=recipe.recipe.slug %}">{{ recipe }}</a></li>
    {% empty %}
        <li class="list-group-item">{% trans 'no recipes' %}</li>
    {% endfor %}
    </ul>

{% endif %}

<h4 class="page-header navheader">{% trans 'grocery list' %}</h4>
<ul  class="list-group">
    <li class="list-group-item"><a href="{% url 'grocery_create' %}"> {% trans 'create' %}</a></li>
    <li class="list-group-item"><a href="{% url 'grocery_list' %}" > {% trans 'list' %}</a></li>
    <li class="list-group-item"><a href="{% url 'grocery_aisle' %}" > {% trans 'manage aisles' %}</a></li>
    <li class="list-group-item"><a href="/recipe/" >{% trans 'browse recipes' %}</a></li>
</ul>

