{% load i18n %}
{% load static %}
{% comment %}This template is the pop form called on the recipe edit form to add a cuisine or a course{% endcomment %}
<html>
  <head>
     <script type="text/javascript" src="{% static "js/RelatedObjectLookups.js" %}"></script>
     <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" />
     <title>{{ OETITLE }} | {%trans "Add"%} {{ field }}</title>
  </head>
  <body>
    <div class="well form-vertical">
      <h1>{% blocktrans %}Add {{ field }}{% endblocktrans %}</h1>
        <form method="POST" action="/groups/popadd/{{ field }}/">{% csrf_token %}
          {{ form.title.errors }}
            <p>{{ form.title.label_tag }} {{ form.title }}</p>
            <input type="hidden" id="id_author" name="author" value="{{ user.id }}" />
            <p><button type="submit" class="btn">{% trans 'submit' %}</button> | <a class="btn btn-inverse" href="javascript:window.close()">{%trans "Cancel" %}</a></p>
        </form>
    </div>
  </body>
</html>