{% extends "base.html" %}
{% load i18n %}
{% comment %}This template list all recipes found in a course or a cuisine it is called from the course_list or the cuisine_list {% endcomment %}
{% load sanitize %}
{% load pagination_tags %}
{% load static %}

{% block content %}

  <script type="text/javascript" src="{% static "js/jquery.ui.stars/jquery.ui.stars.js" %}"></script>
  <link href="{% static "js/jquery.ui.stars/jquery.ui.stars.css" %}" rel="stylesheet" />

  <div id="title">
      <h3>{% trans "Recipes in " %}{{category}}</h3>
  </div>
    {% autopaginate recipe_list  %}

    {% for recipe in recipe_list %}
      {% include 'recipe/_list.html' %}
  {% endfor %}
    
 {% paginate %}
{% endblock %}