{% comment %}This template is called by other templates to display a list of recipes, the template is passed a recipe object from a list of recipe objects{% endcomment %}

{% load i18n %}
{% load sanitize %}
{% load imagekit %}
{% load static %}

{% block jscript %}
  <script type="text/javascript">
    $(document).ready(function () {
      $(".{{ recipe.slug }}-rate").stars({
       inputType:"select", disabled:true
      });
      var avg = '{{recipe.rating.score}}' / '{{recipe.rating.votes}}';
      var selectid = avg - 1;  // the average rating and minus one selects start with zero so a score of one is actuall an id of 0
      $(".{{ recipe.slug }}-rate").stars("selectID", selectid); //set the select value to the avg rate
    });
  </script>
{% endblock %}

<div class="row">
    <div class="col-lg-9">
        <div class="thumbnail well well-sm">
            <a href="{{ recipe.get_absolute_url }}">
            {% if recipe.photo %}
                {% generateimage 'recipe:list' source=recipe.photo -- alt=recipe.photo.name class="pull-right" %}
            {% else %}
                <img class="pull-right" src="{% static "images/parsley.jpg" %}" alt="{{ recipe }} photo"/>
            {% endif %}
            </a>
            <div class="caption">
                <h3><a href="{{ recipe.get_absolute_url }}">{{ recipe }}</a></h3>

                <p class="chef">{% trans 'Chef:' %} <a
                        href="{{ recipe.author.profile.get_absolute_url }}">{{ recipe.author }}</a></p>

                <form>
                    <div class="{{ recipe.slug }}-rate recipe-rate">
                        <p class="rating-title"><strong>{% trans 'Average Rating:' %}</strong> <span
                                class="rating-cap"></span></p>
                        <select name="selrate">
                            <option value="1">{% trans 'Poor' %}</option>
                            <option value="2">{% trans 'Fair' %}</option>
                            <option value="3">{% trans 'OK' %}</option>
                            <option value="4">{% trans 'Good' %}</option>
                            <option value="5">{% trans 'Wow' %}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="recipe-info">
            {% autoescape off %}
                <p>{{ recipe.info|striptags|truncatewords:'100' }}</p>
            {% endautoescape %}
            </div>
        </div>
    </div>
</div>



