{% extends 'base.html' %}
{% load i18n %}
{% load front_page %}
{% load taggit_templatetags2_tags %}
{% load imagekit %}

{% block content %}
   {% frontpage_news %}

    <div class="row">
     {% for recipe in new_recipes|slice:"0:3" %}
      <div class="col-sm-9 col-md-3">
            <div class="thumbnail">
              <a href="{{ recipe.get_absolute_url }}"> {% generateimage 'recipe:detail' source=recipe.photo -- alt=recipe class="img-thumbnail" %}</a>
                <div class="caption">
                    <h4>{{ recipe.title }}</h4>
                    <p>chef: <a href="{{ recipe.author.profile.get_absolute_url }}">{{ recipe.author }}</a></p>
                    {% autoescape off %}
                    <p>{{ recipe.info|striptags|truncatewords:50 }}</p>
                    {% endautoescape %}
                </div>
            </div>
      </div>
     {% endfor %}
    </div>
    <div class="row">
     {% for recipe in new_recipes|slice:"3:6" %}
      <div class="col-sm-9 col-md-3">
            <div class="thumbnail">
              <a href="{{ recipe.get_absolute_url }}"> {% generateimage 'recipe:detail' source=recipe.photo -- alt=recipe class="img-thumbnail" %}</a>
                <div class="caption">
                    <h4>{{ recipe.title }}</h4>
                    <p>chef: <a href="{{ recipe.author.profile.get_absolute_url }}">{{ recipe.author }}</a></p>
                    {% autoescape off %}
                    <p>{{ recipe.info|striptags|truncatewords:50 }}</p>
                    {% endautoescape %}
                </div>
            </div>
      </div>
     {% endfor %}
    </div>

    <div id="tag-cloud" class="accordion">
      <div class="accordion-heading">
          <button class=" btn btn-info btn-block accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tagcloud">
              <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {% trans 'recipe tags' %}
          </button>
      </div>
      <div id="tagcloud" class="accordion-body collapse">
        {% get_tagcloud as tags for 'recipe' %}
        <ul class="well">
          {% for tag in tags %}
            <li><a class="btn btn-info" href="{% url 'recipe_tags' tag=tag.slug %}" class="tag{{ tag.weight|floatformat:0 }}">{{tag}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

{% endblock %}


