{% comment %}This template is the template for the recipe email body{% endcomment %}
{% load i18n %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="print" href="http://{{ request.get_host }}{% static "css/grocery_print.css" %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://{{ request.get_host }}{% static "css/grocery_prints.css" %}" />
        <title>{{ OETITLE }}{% trans 'Email'%} {{ list }}</title>
    </head>
    <body>
        <div id="grocery-print">
            <img src="http://{{ request.get_host }}{{ OELOGO }}" alt="OpenEats logo" />
            <p>{{ request.user }}{%  trans ' has shared a recipe with you' %}</p>
            <h2><a href="http://{{ request.get_host }}{{ recipe.get_absolute_url }}">{{ recipe }}</a></h2>
            <div id="photo">
                {% if recipe.photo %}
                   <a id="recipe-photo" href="http://{{ request.get_host }}{{recipe.display.url }}"> <img src="http://{{ request.get_host }}{{ recipe.photo }}" alt="{{ recipe }} photo" /></a>
                {% else %}
                   <a id="recipe-photo" href="http://{{ request.get_host }}{% static "images/parsley.jpg" %}"> <img src="http://{{ request.get_host }}{% static "images/parsley.jpg" %}" alt="{{ recipe }} photo" /></a>
                {% endif %}
            </div>
                {{ recipe.info|safe }}

        </div>
    </body>
</html>
