{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% comment %}This template is used to add recipes{% endcomment %}
{% block title %}{{ block.super }} - {% trans "Add Recipe" %} {% endblock %}
{% block jscript %}
   <script type="text/javascript" src="{% static "js/jquery/jquery.formset.js" %}"></script>
   <script type="text/javascript" src="{% static "js/RelatedObjectLookups.js" %}"></script>
   <script type="text/javascript" src="{% static "js/tinymce/jscripts/tiny_mce/tiny_mce.js" %}"></script>
   <script type="text/javascript">
     tinyMCE.init({
       mode : "textareas",
       theme : "simple",
       width: "450"

     });
   </script>
   <script type="text/javascript">
     $(function() {
      $('#recipe-form tbody tr').formset({
        prefix: '{{ formset.prefix }}',
          added: function(row){
            var txt = row.find('.ing-field input');
            txt.unbind();
            makeAutoComplete(); /* call the makeAutoComplete function to assign the jquery ui autocomplete to the new row added*/
        },
        extraClasses: ['row1', 'row2'],
        deleteText: ''
       });
     })

     function makeAutoComplete() {
      $(function() {
        $(".ing-field input").autocomplete({
          source: '/ingredient/auto/',
          minLength: 2
        });
      })
     };
     makeAutoComplete()
   </script>
  <script type="text/javascript">
    function stopRKey(evt) {
      var evt = (evt) ? evt : ((event) ? event : null);
      var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
      if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
    }
    document.onkeypress = stopRKey;
  </script>
{% endblock %}
{% block content %}

<form class="form-horizontal" novalidate id="recipe-form" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
  <fieldset>
    <legend>{% trans 'recipe info' %}</legend>
      <input type="hidden" id="id_author" name="author" value="{{ user.id }}" />
      <div class="control-group">
        <label class="control-label" for="id_{{ form.title.name}}">{{ form.title.label|lower }}</label>
        <div class="controls">
          {{ form.title }}{{ form.title.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.photo.name}}">{{ form.photo.label|lower }}</label>
        <div class="controls">
          {{ form.photo }}{{ form.photo.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.course.title}}">{{ form.course.label|lower }}</label>
        <div class="controls">
          {{ form.course }}{{ form.course.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.cuisine.title}}">{{ form.cuisine.label|lower }}</label>
        <div class="controls">
          {{ form.cuisine }}{{ form.cuisine.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.cook_time.title}}">{{ form.cook_time.label|lower }}</label>
        <div class="controls">
          {{ form.cook_time }}{{ form.cook_time.errors }}
            <p class="help-block">{{ form.cook_time.help_text }}</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.servings.title}}">{{ form.servings.label|lower }}</label>
        <div class="controls">
          {{ form.servings }}{{ form.servings.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.info.title}}">{{ form.info.label|lower }}</label>
        <div class="controls">
          {{ form.info }}{{ form.info.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">{% trans 'ingedients' %}</label>
        <p>{{ formset.non_form_errors }}</p>
        <table class="table table-condensed table-bordered" id="ing-grid">
           <tbody>
            {% for form in formset.forms %}
              <tr id="{{ form.prefix }}-row" class="{% cycle 'row1' 'row2' %}">
                <td>{% for hid in form.hidden_fields %}{{ hid }}{% endfor %}
                  {{  form.DELETE }}
                  {{ form.quantity.errors }} {{ form.quantity.label_tag|lower }}
                </td>
                <td class="quantity">{{ form.quantity }}</td>
                <td>{{ form.measurement.errors }} {{ form.measurement.label_tag|lower }}</td>
                <td class="measurement">{{ form.measurement }}</td>
                <td>{{ form.title.errors }} {{ form.title.label_tag|lower }}</td>
                <td class="ing-field">{{ form.title }}</td>
                <td>{{ form.preparation.errors }} {{ form.preparation.label_tag|lower }}</td>
                <td class="preparation">{{ form.preparation }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.directions.title}}">{{ form.directions.label|lower }}</label>
        <div class="controls">
          {{ form.directions }}{{ form.directions.errors }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.shared.title}}">{{ form.shared.label|lower }}</label>
        <div class="controls">
          {{ form.shared }}{{ form.shared.errors }}
          <p class="help-block">{{ form.shared.help_text }}</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.related.title}}">{{ form.related.label|lower }}</label>
        <div class="controls">
          {{ form.related }}{{ form.related.errors }}
          <p class="help-block">{{ form.related.help_text }}</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_{{ form.tags.title}}">{{ form.tags.label|lower }}</label>
        <div class="controls">
          {{ form.tags }}{{ form.tags.errors }}
          <p class="help-block">{{ form.tags.help_text }}</p>
        </div>
      </div>
  </fieldset>
   <div class="form-actions">
     {{ formset.management_form }}
      <button type="submit" class="btn btn-info">{% trans 'save recipe' %}</button>
      <a class="btn" href="{% url 'recipe_index' %}">{% trans 'cancel' %}</a>
   </div>
</form>

{% endblock %}



