{% comment %}This template is used via an ajax call from the users profile page to display all the recipes for a giving user {% endcomment %}
{% load i18n %}
{% load pagination_tags %}
{% load static %}

<html>
    <head>
        <script type="text/javascript" src="{% static "js/jquery.ui.stars/jquery.ui.stars.js" %}"></script>
        <link href="{% static "js/jquery.ui.stars/jquery.ui.stars.css" %}" rel="stylesheet" />
        <script type="text/javascript">
            $(function () {
                $(".remove-fav").click( function () {
                    var id = $(this).attr("id");
                    $.post('/recipe/unstore/', {'recipe_id': id},
                    function (data) {
                        $("#user-fav").hide().html(data).fadeIn('slow');

                    });
                });
            });
        </script>
    </head>
    <body>
        {% if recipe_list.count > 0 %}
           {% if shared == 'share'  %}
              {% autopaginate recipe_list 3  %}
              {% for recipe in recipe_list %}
                 {% include 'recipe/_list.html' %}
              {% endfor %}
              {% paginate %}
           {% endif %}

           {% if user == request.user.username and shared == 'private' %}
              {% autopaginate recipe_list %}
              {% for recipe in recipe_list %}
                {% include 'recipe/_list.html' %}
              {% endfor %}
              {% paginate %}
           {% endif %}
      {% else %}
         <p>{{ user }} {% trans 'has not added any recipes yet!' %}</p>
     {% endif %}
    </body>
</html>
