/* Base Template */
body{padding-top: 60px; padding-bottom: 40px;}
.sidebar-nav { padding: 9px 0;}


/* Cook View */
div#tenfoot{font-size:xx-large; width:800px;}
div#tenfoot hr { margin-bottom: 15px;}
div#tenfoot h2 { margin-bottom: 10px;}
div#tenfoot ul { margin-bottom: 15px;}

/*recipe caption front page*/
a:hover .thumbnail {border-color: #0088CC;}

/*Tag Cloud*/
div#tag-cloud {float:left; margin-top:20px; margin-left:150px; width:550px;}
div#tag-cloud ul { margin: 1em 0; padding: 0.5em 10px;  text-align: center;}
div#tag-cloud li { display: inline; list-style: none outside none;  margin: 0; padding: 0;}
div#tag-cloud li a { padding: 0 2px; text-decoration: none;}
.tag1 { font-size: 100%; }
.tag2 { font-size: 120%; }
.tag3 { font-size: 140%; }
.tag4 { font-size: 160%; }
.tag5 { font-size: 180%; }
.tag6 { font-size: 200%; }
