/* Base Template */
body{padding-top: 60px; padding-bottom: 40px;}
.sidebar-nav { padding: 9px 0;}


/* Cook View */
div#tenfoot{font-size:xx-large; width:800px;}
div#tenfoot hr { margin-bottom: 15px;}
div#tenfoot h2 { margin-bottom: 10px;}
div#tenfoot ul { margin-bottom: 15px;}

/*recipe caption front page*/
a:hover .thumbnail {border-color: #0088CC;}

/*Tag Cloud*/
div#tag-cloud {float:left; margin-top:20px; margin-left:150px; width:550px;}
div#tag-cloud ul { margin: 1em 0; padding: 0.5em 10px;  text-align: center;}
div#tag-cloud li { display: inline; list-style: none outside none;  margin: 0; padding: 0;}
div#tag-cloud li a { padding: 0 2px; text-decoration: none;}
.tag1 { font-size: 100%; }
.tag2 { font-size: 120%; }
.tag3 { font-size: 140%; }
.tag4 { font-size: 160%; }
.tag5 { font-size: 180%; }
.tag6 { font-size: 200%; }

/*Form Errors*/

form ul.errorlist {list-style:none;}
form ul.errorlist li {color:#B94A48;}

/* Profile */
span.profile-info, span.create-date, p.chef { color:#808080; }
div#settings a, .friend-feed a, .grocery a, .recipe a {color: #0088cc; text-decoration: none;}
div#settings a:hover, .friend-feed a:hover, .grocery a:hover { color: #005580; text-decoration: underline;}

/* remove buttons for list*/
.remove-fav, .remove-grocery { float:right; margin:14px;}

/*recipe list profile*/
.recipe-info {width:60%;}
.recipe-info a { color:#fff;}

/*recipe form*/
table#ing-grid td{ font-size: 90%; padding-bottom:15px;}
table#ing-grid td label {width:auto; margin-left:10px;}
table#ing-grid .quantity input { width:40px;}
table#ing-grid .measurement input { width:75px;}
table#ing-grid .ing-field input, table#ing-grid .preparation input { width:130px;}
table#ing-grid tr.row2, table#list-grid tr.row2  { background-color:#F9F9F9;}
table#ing-grid td a.delete-row, table#list-grid td a.delete-row  {padding-left:18px; margin-left:3px; background:url(../images/delete.png) no-repeat left;}
table#ing-grid a.add-row, table#list-grid a.add-row {padding-left:18px; background:url(../images/add.png) no-repeat left center; }

/*grocery list index*/
.grow2 { background-color:#fff;}
.grocery-delete{float:right;}