body {width: 500px; font-family:"trebuchet ms", helvetica, sans-serif; font-size:100%; line-height:1.0625em; color:#484846;}
#notvisable{display:none;}
span.print-site{color:#c53c0c;}
#print-user{font-size:85%;}
#print-source{font-size:70%;}
div {font-size:95%;}
ul.list { width:100%; overflow:hidden; margin-bottom:11px;}
ul.list li { display:inline; padding-right:5px;}



