{% comment %}This template list all recipes found in a course or a cuisine it is called from the course_list or the cuisine_list {% endcomment %}

{% extends "base.html" %}
{% load i18n %}
{% load sanitize %}

{% block jscript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.stars/jquery.ui.stars.js"></script>
    <link href="{{ MEDIA_URL }}js/jquery.ui.stars/jquery.ui.stars.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".{{ recipe }}-rate").stars({
                inputType: "select",
                disabled: true
            });
            var avg = '{{recipe.rating.score}}' / '{{recipe.rating.votes}}';
            var selectid = avg - 1;  // the average rating and minus one selects start with zero so a score of one is actuall an id of 0
            $(".{{ recipe }}-rate").stars("selectID", selectid); //set the select value to the avg rate
        });
    </script>

{% endblock %}


{% block content %}
    <div id="title"> <h3>{% trans "Recipes" %}</h3></div>
    {% for recipe in recipe_list.object_list %}
      {% include '/recipe/_list.html' %}
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if recipe_list.has_previous %}
            <a href="?page={{ recipe_list.previous_page_number }}">{%trans 'previous' %}</a>
        {% endif %}

        <span class="current">
            {%trans 'Page' %} {{ recipe_list.number }} {%trans 'of' %} {{ recipe_list.paginator.num_pages }}.
        </span>

        {% if recipe_list.has_next %}
            <a href="?page={{ recipe_list.next_page_number }}">{%trans 'next' %}</a>
        {% endif %}
    </span>
</div>

{% endblock %}