{% extends 'base.html' %}
{% load i18n %}
{% load front_page %}
{% load taggit_extras %}

{% block content %}
   {% frontpage_news %}

   <div class="row-fluid">
     {% for recipe in new_recipes|slice:"0:3" %}
       <div class="span4">
         <dl class="captioned-image">
           <dt><a href="{{ recipe.get_absolute_url }}"><img class="thumbnail" src="{{recipe.index_thumbnail.url}}" alt="{{ recipe.title }}"/></a></dt>
           <dd><span>{{ recipe.title }} <br /><cite>{%trans 'chef: ' %}{{ recipe.author }}</cite></span></dd>
         </dl>
       </div>
     {% endfor %}

   </div>
    <div class="row-fluid">
      {% for recipe in new_recipes|slice:"3:6" %}
        <div class="span4">
          <dl class="captioned-image">
            <dt><a href="{{ recipe.get_absolute_url }}"><img class="thumbnail" src="{{recipe.index_thumbnail.url}}" alt="{{ recipe.title }}"/></a></dt>
            <dd><span>{{ recipe.title }} <br /><cite>{%trans 'chef: ' %}{{ recipe.author }}</cite></span></dd>
          </dl>
        </div>
      {% endfor %}
    </div>

    <div id="tag-cloud" class="accordion">
      <div class="accordion-heading">
          <a class="btn-primary accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tags" > <i class="icon-th-list icon-white"></i> {% trans 'recipe tags' %}</a>
      </div>
      <div id="tags" class="accordion-body collapse">
        {% get_tagcloud as tags for 'recipe' %}
        <ul class="well">
          {% for tag in tags %}
            <li><a href="{% url recipe_tags tag=tag.slug %}" class="tag{{ tag.weight|floatformat:0 }}">{{tag}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

{% endblock %}


