{% extends 'base.html' %}
{% load i18n %}
{% load generic_flatblocks %}
{% load taggit_extras %}

{% block content %}
    {% gblock 1 for "news.Entry" %}

    <div id="recent-recipes">
        <h1>{%trans 'Fresh from the Oven!' %}</h1>
        {% for recipe in new_recipes %}
        <dl class="captioned-image">
            
            <dt><a href="{{ recipe.get_absolute_url }}"><img src="{{recipe.index_thumbnail.url}}" alt="{{ recipe.title }}"/></a></dt>
            <dd><span>{{ recipe.title }} <br /><cite>{%trans 'chef: ' %}{{ recipe.author }}</cite></span></dd>
  
        </dl>
        {% endfor %}
    </div>
    <div id="recent-link">
        <a href="{% url recipe_recent %}"> {% trans 'more recent recipes' %}</a>
    </div>
    <h2 id="tag-title">{% trans 'Recipe Tags' %}</h2>
    <div id="tag-cloud">
       {% get_tagcloud as tags for 'recipe' %}
        <ul>
        {% for tag in tags %}
            <li><a href="{% url recipe_tags tag=tag.slug %}" class="tag{{ tag.weight|floatformat:0 }}">{{tag}}</a></li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}


