{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "OpenEats | Add Recipe" %} {% endblock %}
{% block jscript %}
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.formset.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}js/RelatedObjectLookups.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}js/jqtransformplugin/jquery.jqtransform.js"></script>
 <script type="text/javascript">
           $(function() {
               $('#ing-5').formset({
                   prefix: '{{ formset.prefix }}',
                   extraClasses: ['row1', 'row2']
               });
           })
       </script>
{% endblock %}
{% block content %}
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    <div id="recipe-form">
     
        {{ form.title.errors }}
        <p>{{ form.title.label_tag }} {{ form.title }}</p>
    
        {{ form.photo.errors }}
        <p>{{ form.photo.label_tag }}{{ form.photo }} </p>

        {{ form.course.errors }}
        <p>{{ form.course.label_tag }}{{ form.course }} </p>
        

        {{ form.cuisine.errors }}
        <p>{{ form.cuisine.label_tag }} {{ form.cuisine }}</p>

        {{ form.info.errors }}
        <p>{{ form.info.label_tag }} {{ form.info }} <em>{{ form.info.help_text }}</em></p>
       

        {{ form.cook_time.errors }}
        <p>{{ form.cook_time.label_tag }} {{ form.cook_time }} <em>{{ form.cook_time.help_text }}</em></p>

        {{ form.servings.errors }}
        <p>{{ form.servings.label_tag }} {{ form.servings }}</p>

        {{ form.directions.errors }}
        <p>{{ form.directions.label_tag }} {{ form.directions }}</p>

        {{ form.shared.errors }}
        <p>{{ form.shared.label_tag }} {{ form.shared }} <em>{{ form.shared.help_text }}</em></p>
        

        <p>{{ form.tags.label_tag }} {{ form.tags }}<em>{{ form.tags.help_text }}</em></p>

        <input type="hidden" id="id_author" name="author" value="{{ user.id }}" />
        <!-- ugh going to do a form here since it is tabular data but still don't like it -->
        <div id="ingredients">
            <table id="ing-grid">
                <thead>
                    <tr>
                        <th>{% trans "Ingredients" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {{ formset.management_form }}
                    {% for field in formset.forms %}
                    <tr class="{% cycle 'row1' 'row2' %}" id="ing-{{ forloop.counter }}">
                        <td>{{ field.quantity.label_tag }}</td>
                        <td id="quantity">{{ field.quantity }}</td>
                        <td>{{ field.measurement.label_tag }}</td>
                        <td id="measurement"">{{ field.measurement }}</td>
                        <td>{{ field.ingredient.label_tag }}</td>
                        <td id="ing-field">{{ field.ingredient }}</td>
                        <td>{{ field.preparation.label_tag }}</td>
                        <td id="preparation">{{ field.preparation }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
     
        </div>
    </div>

    <p><input type="submit" value="{% trans "New Recipe" %}" /></p>
</form>

{% endblock %}



