{% extends "base.html" %}
{% load i18n %}
{%block title %}{% blocktrans %} OpenEats - {{ recipe }} {% endblocktrans %}{% endblock %}
{% block content %}
<div id="title">
    <h3>{{ recipe }}</h3>
</div>
<div id="recipe-show">
    <div id="recipe-info">
        <p><span>{%trans "Course:" %}</span> {{ recipe.course }}</p>
        <p><span>{%trans "Cuisine:" %}</span> {{ recipe.cuisine }}</p>
        <p><span>{%trans "Chef:" %}</span> {{ recipe.author }}</p>
    </div>
    <div id="recipe-cook">
        <ul>
            <li><span>{%trans "servers" %}</span> {{ recipe.servings }}</li>
            <li><span>{%trans "cook time" %}</span> {{ recipe.cook_time }} minute{{ recipe.cook_time|pluralize }}</li>
        </ul>
    </div>
    <div id="recipe-info">
        <hr />
        <p>{{recipe.info}}</p>
        <hr />
    </div>
    <div id="recipe-ing">
        <h2>{%trans "Ingredients" %}</h2>
        <ul>
            {% for ing in recipe.recipeingredient_set.all %}
            <li> {{ ing.quantity }} {{ ing.measurement}} - {{ ing.ingredient }} {{ ing.preparation }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="recipe-directions">
        <h2>{% trans "Directions" %}</h2>
        {{ recipe.directions }}
    </div>
    <div id="recipe-comments">
        {% load disqus_tags %}
        {% disqus_dev %}
        {% disqus_show_comments %}
    </div>
</div>




{% endblock %}