{% comment %}This template is for the cook view for a recipe{% endcomment %}
{% load i18n %}
{% load sanitize %}


{% if recipe.shared == 1 and recipe.author != request.user %}
  <h2>{%trans 'Recipe is marked Private and you are not the author of it!' %}</h2>
{% else %}

  <div id="tenfoot">
    <div class="page-header">
      <h1>{{ recipe.title }}</h1>
    </div>
    <h2>{% trans 'Ingredients' %}</h2>
      <ul>
        {% for ing in recipe.ingredients.all %}
          <li> {{ ing.quantity }} {{ ing.measurement}} - {{ ing.title }} {{ ing.preparation }}</li>
        {% endfor %}
      </ul>

      {% if recipe.related %}
        <h4>{{ recipe.related }}</h4>
        <ul>
          {% for ing in recipe.related.ingredients.all %}
            <li> {{ ing.quantity }} {{ ing.measurement}} - {{ ing.title }} {{ ing.preparation }}</li>
          {% endfor %}
        </ul>
     {% endif %}

     <div>
       <h2>{%trans 'Directions' %}</h2>
       {{ recipe.directions|sanitize_html|safe }}
       {% if recipe.related %}
         <h4>{{ recipe.related }}</h4>
           {{ recipe.related.directions|sanitize_html|safe }}
       {% endif %}
      </div>
  </div>
{% endif %}
