{% extends "base.html" %}
{% load i18n %}
{% comment %}This template is the recipe detail view{% endcomment %}
{% load sanitize %}
{% load ratings %}
{% load recipe_favs %}
{%block title %}{% blocktrans %} OpenEats - {{ recipe }} {% endblocktrans %}{% endblock %}
{% block jscript %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}js/jquery/fancybox/jquery.fancybox.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.stars/jquery.ui.stars.js"></script>
    <link href="{{ MEDIA_URL }}js/jquery.ui.stars/crystal-stars.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function() {
            $("a#recipe-photo").fancybox();
            $("a#cook-view").fancybox({
		'autoDimensions': false,
                'autoScale': false,
                'width': 1000,
                'height': 1000
	});

        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("a, button", "#toolbar").button();
            $('#recipe-store').click(function() {
                $.post('/recipe/store/{{ recipe.id }}/', function(data) {
                    $('#ajax-messages').html(data).fadeIn(600).delay(3000).fadeOut(600);
                });
            });

        });
    </script>
   {% rating_by_request request on recipe.rating as vote %}{% comment %}check to see if the user has voted on this before {% endcomment %}
    
    {% if request.user.is_authenticated and vote == False %}
    <script type="text/javascript">
        $(document).ready(function () {
        // Create caption element
	var $caption = $('<div id="caption"/>');
        $("#recipe-rate").stars({
            inputType: "select",
            captionEl: $("#rating-cap"),
            oneVoteOnly: true,
            callback: function(ui, type, value)
            {
                // Display message to the user at the begining of request
		$("#messages").text("Saving...").fadeIn(30);
                $.post('/recipe/ajax-raterecipe/{{ recipe.id }}/' + value, function(json)
                {
                  // Change widget's title
		  $("#rating-title").text("Average rating");
                  // Select stars from "Average rating" control to match the returned average rating value
		  ui.select(Math.round(json.avg));
                  
                  // Update widget's caption
		  $caption.text(" (" + json.votes + " votes; " + json.avg + ")");

                  // Display confirmation message to the user
		  $("#messages").text("Rating saved (" + value + "). Thanks!").stop().css("opacity", 1).fadeIn(30);

                  // Hide confirmation message after 2 sec...
                    setTimeout(function(){
                        $("#messages").fadeOut(1000)
                    }, 2000);
                }, "json");
            }
        });
        // Append caption element !after! the Stars
	$caption.appendTo("#recipe-rate");

	// Create element to use for confirmation messages
	$('<div id="messages"/>').appendTo("#recipe-rate");
     });  
 </script>
 {% else %}
 <script type="text/javascript">
     $(document).ready(function () {
         var $caption = $('<div id="caption"/>');
         $("#recipe-rate").stars({
             inputType: "select",
             disabled: true
         });
         // Change widget's title
        $("#rating-title").text("Average rating");
         var avg = '{{recipe.rating.score}}' / '{{recipe.rating.votes}}';
         var selectid = avg - 1;  // the average rating and minus one selects start with zero so a score of one is actuall an id of 0
       $("#recipe-rate").stars("selectID", selectid); //set the select value to the avg rate
       $caption.text(" (" + '{{ recipe.rating.votes }}' + " votes)");
       // Append caption element !after! the Stars
	$caption.appendTo("#recipe-rate");
     });
 </script>
 {% endif %}
{% endblock %}

{% block content %}
<div id="ajax-messages" style="display:none;"></div>
<div id="toolbar">
    <span id="title">{{ recipe }}</span>
    <span id="toolbar-buttons">
         <a href="/recipe/print/{{ recipe.slug }}/">{%trans 'print' %}</a>
         <a id="cook-view" href="/recipe/cook/{{ recipe.slug }}/">{%trans 'cook' %}</a>
        {% fav_link request.user recipe.id %}
    </span>
</div>
<div id="photo">
    {% if recipe.photo %}
       <a id="recipe-photo" href="{{recipe.display.url }}"<img src="{{ recipe.thumbnail_image.url }}" alt="{{ recipe.photo.name }}" /></a>
    {% else %}
       <a id="recipe-photo" href="{{ MEDIA_URL  }}images/parsley.jpg" <img src="{{ MEDIA_URL  }}images/parsley.jpg" alt="{{ recipe }} photo" /></a>
    {% endif %}
</div>
<form>
<div id="recipe-rate">
    <p id="rating-title""><strong>{%trans 'rate this:' %}</strong> <span id="rating-cap"></span></p>
    <select name="selrate">
        <option value="1">{%trans 'Poor' %}</option>
        <option value="2">{%trans 'Fair' %}</option>
        <option value="3">{%trans 'OK' %}</option>
        <option value="4">{%trans 'Good' %}</option>
        <option value="5">{%trans 'Wow' %}</option>
    </select>
</div>
</form>
<div id="recipe-show">
    <div id="recipe-info">
        <p><span>{%trans "Course:" %}</span> {{ recipe.course }}</p>
        <p><span>{%trans "Cuisine:" %}</span> {{ recipe.cuisine }}</p>
        <p><span>{%trans "Chef:" %}</span> <a href="{{ recipe.author.get_profile.get_absolute_url }}">{{ recipe.author }}</a></p>
    </div>
    <div id="recipe-cook">
        <ul>
            <li><span>{%trans "servers" %}</span> {{ recipe.servings }}</li>
            <li><span>{%trans "cook time" %}</span> {{ recipe.cook_time }} minute{{ recipe.cook_time|pluralize }}</li>
        </ul>
    </div>
    <div id="recipe-info">
        <hr />
        <p>{{recipe.info|sanitize_html|safe}}</p>
        <hr />
    </div>
    <div id="recipe-ing">
        <h2>{%trans "Ingredients" %}</h2>
        <ul>
            {% for ing in recipe.ingredient_set.all %}
            <li> {{ ing.quantity }} {{ ing.measurement}} - {{ ing.title }} {{ ing.preparation }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="recipe-directions">
        <h2>{% trans "Directions" %}</h2>
        {{ recipe.directions|sanitize_html|safe }}
    </div>
    <div id="recipe-comments">
        {% load disqus_tags %}
        {% disqus_dev %}
        {% disqus_show_comments %}
    </div>
</div>
{% endblock %}