{% load i18n %}
<html>
    <head>
        <title>{% trans 'Cook View' %} - {{ recipe }} </title>
    </head>
    <body>
    <div id="tenfoot"
        <h1> {{ recipe }} </h1>
        <hr />
        <h2>{% trans 'Ingredients' %}</h2>
        <ul>
            {% for ing in recipe.ingredient_set.all %}
            <li> {{ ing.quantity }} {{ ing.measurement}} - {{ ing.title }} {{ ing.preparation }}</li>
            {% endfor %}
        </ul>
        <div cook-dir>
            <h2>{%trans 'Directions' %}</h2>
            {{ recipe.directions }}
        </div>
    </div>
    </body>
</html>