{% extends 'base.html' %}
{% load i18n %}
{% comment %}This template is used to add recipes{% endcomment %}
{% block title %}{{ block.super }} - {% trans "Add Recipe" %} {% endblock %}
{% block jscript %}
 <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.formset.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}js/RelatedObjectLookups.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}js/jqtransformplugin/jquery.jqtransform.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
 <script type="text/javascript">
     tinyMCE.init({
         mode : "textareas",
         theme : "simple"

     });
 </script>
<script type="text/javascript">
$(function() {
    $('tbody tr').formset({
        prefix: '{{ formset.prefix }}',
        added: function(row){
            var txt = row.find('#ing-field input');
            txt.unbind();
            makeAutoComplete(); /* call the makeAutoComplete function to assign the jquery ui autocomplete to the new row added*/
        },
        extraClasses: ['row1', 'row2'],
        deleteText: ''

    });
})


function makeAutoComplete() {
    $(function() {
        $("#ing-field input").autocomplete({
            source: '/ingredient/auto/',
            minLength: 2
        });
    })
    };
makeAutoComplete()
</script>
 <script type="text/javascript">

     function stopRKey(evt) {
         var evt = (evt) ? evt : ((event) ? event : null);
         var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
         if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
     }

     document.onkeypress = stopRKey;

 </script>
{% endblock %}
{% block content %}
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    <div id="recipe-form">
     
        {{ form.title.errors }}
        <p>{{ form.title.label_tag|lower }} {{ form.title }}</p>
    
        {{ form.photo.errors }}
        <p id="recipe-photo">{{ form.photo.label_tag|lower }}{{ form.photo }} </p>

        {{ form.course.errors }}
        <p>{{ form.course.label_tag|lower }}{{ form.course }} </p>
        

        {{ form.cuisine.errors }}
        <p>{{ form.cuisine.label_tag|lower }} {{ form.cuisine }}</p>

        {{ form.info.errors }}
        <p>{{ form.info.label_tag|lower }} {{ form.info }} <em>{{ form.info.help_text }}</em></p>
       

        {{ form.cook_time.errors }}
        <p>{{ form.cook_time.label_tag|lower }} {{ form.cook_time }} <em>{{ form.cook_time.help_text }}</em></p>

        {{ form.servings.errors }}
        <p>{{ form.servings.label_tag|lower }} {{ form.servings }}</p>

        {{ form.directions.errors }}
        <p>{{ form.directions.label_tag|lower }} {{ form.directions }}</p>

        {{ form.shared.errors }}
        <p>{{ form.shared.label_tag|lower }} {{ form.shared }} <em>{{ form.shared.help_text }}</em></p>
        {{ form.related.errors }}
        <p>{{ form.related.label_tag|lower }} {{ form.related }} <em>{{ form.related.help_text }}</em></p>
       <br />
        <p>{{ form.tags.label_tag|lower }} {{ form.tags }}<em>{{ form.tags.help_text }}</em></p>

        <input type="hidden" id="id_author" name="author" value="{{ user.id }}" />
        <!-- ugh going to do a form here since it is tabular data but still don't like it -->
        <div id="ingredients">
            <p>{{ formset.non_form_errors }}</p>
            <table id="ing-grid">
                <thead>
                    <tr>
                        <th>{% trans "ingredients" %}</th>
                    </tr>
                </thead>
                <tbody>
                   {% for form in formset.forms %}
                     <tr id="{{ form.prefix }}-row" class="{% cycle 'row1' 'row2' %}">
                        <td>{% for hid in form.hidden_fields %}{{ hid }}{% endfor %}
                            {% if form.instance.pk %} {{  form.DELETE }}{% endif %}
                            {{ form.quantity.errors }} {{ form.quantity.label_tag|lower }}
                        </td>
                        <td id="quantity">{{ form.quantity }}</td>
                        <td>{{ form.measurement.errors }} {{ form.measurement.label_tag|lower }}</td>
                        <td id="measurement"">{{ form.measurement }}</td>
                        <td>{{ form.title.errors }} {{ form.title.label_tag|lower }}</td>
                        <td id="ing-field">{{ form.title }}</td>
                        <td>{{ form.preparation.errors }} {{ form.preparation.label_tag|lower }}</td>
                        <td id="preparation">{{ form.preparation }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
     
        </div>
    </div>

    <p>{{ formset.management_form }}<input type="submit" value="{% trans "New Recipe" %}" /></p>
</form>

{% endblock %}



