{% extends "base.html" %}
{% comment %}This template is the recipe detail view{% endcomment %}

{% load i18n %}
{% load recipe_keywords %}
{% load sanitize %}
{% load ratings %}
{% load recipe_links %}
{%block title %}{{ block.super }}- {{ recipe }} {% endblock %}
{% block keywords %}<meta name="keywords" content="{% recipe_keywords recipe.id 10 %}"/>{% endblock %}
{% block jscript %}
  <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery/fancybox/jquery.fancybox.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.js"></script>
  <link href="{{ STATIC_URL }}js/jquery.ui.stars/crystal-stars.css" rel="stylesheet" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jeditable.js"> </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/oe_email.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a#recipe-photo").fancybox();
            $("a#cook-view").fancybox({
		'autoDimensions': false,
                'autoScale': false,
                'width': 1000,
                'height': 1000
	});

        });
    </script>
  <script type="text/javascript">
    $(function() {
      $("a, button", "#toolbar").button();
      $('#recipe-store').click(function() {
        $.post('/recipe/store/{{ recipe.id }}/', function(data) {
          $('.alert').html(data).fadeIn(600).delay(3000).fadeOut(600);
           });
        });
        $('#recipe-report').click(function() {
          $.post('/recipe/report/{{ recipe.slug }}/', function(data) {
            $('.alert').html(data).fadeIn(600).delay(3000).fadeOut(600);
          });
        });
   });
 </script>

 {% rating_by_request request on recipe.rating as vote %}{% comment %}check to see if the user has voted on this before {% endcomment %}
 {% if request.user.is_authenticated and vote == False %}
   <script type="text/javascript">
     $(document).ready(function () {
        // Create caption element
    	var $caption = $('<div id="caption"/>');
        $("#recipe-rate").stars({
           inputType: "select",
           captionEl: $("#rating-cap"),
           oneVoteOnly: true,
           callback: function(ui, type, value) {
             // Display message to the user at the begining of request
  		    $("#messages").text("Saving...").fadeIn(30);
            $.post('/recipe/ajax-raterecipe/{{ recipe.id }}/' + value + '/', function(json) {

               // Change widget's title
  		      $("#rating-title").text("Average rating");
              // Select stars from "Average rating" control to match the returned average rating value
  		      ui.select(Math.round(json.avg));

             // Update widget's caption
  		     $caption.text(" (" + json.votes + " votes; " + json.avg + ")");

             // Display confirmation message to the user
  		    $("#messages").text("Rating saved (" + value + "). Thanks!").stop().css("opacity", 1).fadeIn(30);

            // Hide confirmation message after 2 sec...
            setTimeout(function(){
              $("#messages").fadeOut(1000)}, 2000);
           }, "json");
          }
        });
        // Append caption element !after! the Stars
  	    $caption.appendTo("#recipe-rate");

  	    // Create element to use for confirmation messages
  	    $('<div id="messages"/>').appendTo("#recipe-rate");
     });
   </script>
 {% else %}
   <script type="text/javascript">
     $(document).ready(function () {
        var $caption = $('<div id="caption"/>');
        $("#recipe-rate").stars({
             inputType: "select",
             disabled: true
         });
         // Change widget's title
         $("#rating-title").text("Average rating");
         $caption.text(" (" + '{{ recipe.rating.votes }}' + " votes)");

        // Append caption element !after! the Stars
  	   $caption.appendTo("#recipe-rate");
     });
   </script>

  {% endif %}

  <script type="text/javascript">
    $(document).ready(function () {
      //set the average rating on the stars
       var avg = '{{recipe.rating.score}}' / '{{recipe.rating.votes}}';
       var selectid = avg - 1;  // the average rating and minus one selects start with zero so a score of one is actuall an id of 0
      $("#recipe-rate").stars("selectID", selectid); //set the select value to the avg rate
    });
  </script>

{% endblock %}

{% block content %}
    <div id="alert alert-info" style="display:none;"></div>
    <h2>{{ recipe.title }}</h2>

    <ul class="nav nav-pills recipe-toolbar">
        <li><a class="btn-info" href="/recipe/print/{{ recipe.slug }}/">{%trans 'print' %}</a></li>
        <li><a class="btn-info" id="cook-view" href="/recipe/cook/{{ recipe.slug }}/">{%trans 'cook' %}</a></li>
        {% if recipe.author == request.user %}
         <li><a class="btn-info" href="{% url recipe_edit user=request.user.username slug=recipe.slug %}">{% trans 'edit' %}</a></li>
        {% endif %}
        <li>{% fav_link request.user recipe.id %}</li>
        <li><a class="btn-info" href="{% url recipe_export slug=recipe.slug %}">pdf</a></li>
        {% if request.user.is_authenticated %}
           <li><a class="btn-info" href="{% url grocery_addrecipe recipe_slug=recipe.slug %}">{% trans 'add to list' %}</a></li>
           <li><a class="btn-info" title="{% trans 'email recipe ' %} {{ recipe }}" id='email-link' href="{% url recipe_mail id=recipe.id %}">{% trans 'email' %}</a></li>
            <li>{% report_link request.user recipe.id %}</li>
        {% endif %}
    </ul>


{% endblock %}

