{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "OpenEats | Add Recipe" %} {% endblock %}
{% block jscript %}
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
 <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.formset.js"></script>
 <script type="text/javascript">
           $(function() {
               $('#ing-5').formset({
                   prefix: '{{ formset.prefix }}'
               });
           })
       </script>
{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <div id="recipe-form">
        {{ form.title.errors }}
        {{ form.title.label_tag }}
        <p>{{ form.title }}</p>
        {{ form.course.label_tag }}
        {{ form.course.errors }}
        <p>{{ form.course }}</p>
        {{ form.cuisine.errors }}
        {{ form.cuisine.label_tag }}
        <p>{{ form.cuisine }}</p>
        {{ form.info.errors }}
        {{ form.info.label_tag }}
        <p>{{ form.info }}</p>
        <span>{{ form.info.help_text }}</span>
        {{ form.cook_time.errors }}
        {{ form.cook_time.label_tag }}
        <p>{{ form.cook_time }} <span>{{ form.cook_time.help_text }}</span></p>
        {{ form.servings.errors }}
        {{ form.servings.label_tag }}
        <p>{{ form.servings }}</p>
        {{ form.directions.errors }}
        {{ form.directions.label_tag }}
        <p>{{ form.directions }}</p>
        {{ form.shared.errors }}
        {{ form.shared.label_tag }}
        <p>{{ form.shared }}</p>
        <span><span>{{ form.shared.help_text }}</span></span>
        {{ form.tags_label_tag }}
        <p>{{ form.tags }}<span>{{ form.tags.help_text }}</span></p>
        <input type="hidden" id="id_author" name="author" value="{{ user.id }}" />
        
        <div id="ingredients">
           <h3>{% trans "Ingredients" %}</h3>
            {{ formset.management_form }}
            {% for field in formset.forms %}
            <p id="ing-{{ forloop.counter }}">
                {{ field.quantity.label_tag }}
                {{ field.quantity }}
                {{ field.measurement.label_tag }}
                {{ field.measurement }}
                {{ field.ingredient.label_tag }}
                {{ field.ingredient }}
                {{ field.preparation.label_tag }}
                {{ field.preparation }}
            </p>
            {% endfor %}
        </div>
    </div>

    <p><input type="submit" value="save" /></p>
</form>

{% endblock %}



