{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ block.super }}- {{ entry.title }} {% endblock %}
{% block content %}
    <div id="news">
        <div id="news-content">
            <h2> {{ entry.title }}</h2>
            {{ entry.content|safe}}
        </div>
        <div id="news-photo-wrap">
            {% if entry.image %}
                <img id="news-photo" src="{{ STATIC_URL }}{{ entry.image }}" alt=""/>
            {% endif %}
        </div>
        <br style="clear:both;" />
    </div>
{% endblock %}