<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>{% block title %}OpenEats2{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/oe.css" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
    </head>
    <body>
        <div id="page-wrap">
            <div id="main">
                <div id="header">
                    <div id="logo"><img src="{{ MEDIA_URL }}images/logo.png" alt="logo" /></div>
                </div>
                <div id="nav-bar">
                    {% load navbar %}
                    {% navbars %}
                </div><!--- end navbar div --->
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                <div id="footer">
                   {% navbars %}
                    &copy;OpenEats 2010
                </div>
            </div><!---end main -->
       
        </div><!--- end page wrap div -->
    </body>
</html>
