{% extends 'base.html' %}
{% load i18n %}
{% comment %}This template is to edit a users profile{% endcomment %}
{% load gravatar_profile %}
{% block title %}{%trans 'edit' %} {{ profile.user.username }} {%trans 'profile' %} {% endblock %}
{% block content %}

<form method="POST" action="">{% csrf_token %}

    <div id="profile-form">
        <h2>edit contact info for {{ user }} </h2>
        <div id="profile-pic">
            {% gravatar profile.user 120 %}
            <p><em>{%trans 'To change your profile picture you will need to create/login to' %} <a href="http://en.gravatar.com/" >{%trans 'Gravata' %}r</a>{%trans  'using the same email address you used for this site' %}</em></p>
        </div>

        {{ form.about.errors }}
        <p>{{ form.about.label_tag|lower }} {{ form.about }}</p>
        {{ form.gender.errors }}
        <p id="gender">{{ form.gender.label_tag|lower }} {{ form.gender }}</p>
        {{ form.location.errors }}
        <p>{{ form.location.label_tag|lower }} {{ form.location }}</p>
        {{ form.url.errors }}
        <p>{{ form.url.label_tag|lower }} {{ form.url }}</p>
        {{ form.email.errors }}
        <p>{{ form.email.label_tag|lower }} {{ form.email }}</p>
        <p><a href="/accounts/password/change" target="_blank">{%trans 'Change Password' %}</a></p>
    </div>
    <input type="submit" name="submit" value="update" id="submit">
</form>
{% endblock %}