{% extends 'base.html' %}
{% load i18n %}
{% comment %}This template displays the users profile{% endcomment %}
{% load recipe_count %}
{% block title %}{{ profile.user.username }} {%trans 'profile' %} {% endblock %}

{% block jscript %}
 
 <script type="text/javascript">
    $(function() {
        var hijax = function(panel) {
            $('div.pagination a', panel).click(function(){
                $(panel).load(this.href, {}, function() {
                    hijax(this);
                });
                return false;
            });
        };
        $("#tabs").tabs({
            ajaxOptions: {
                error: function(xhr, status, index, anchor) {
                    $(anchor.hash).html("Couldn't load this tab.");
                },
            },
            load: function(event, ui) {
                hijax(ui.panel);

            }
        });
    });
</script>

{% endblock %}
{% block content %}
<div id="user-profile" >
    <h2>{{ profile.user.username }} {%trans 'profile' %} </h2>
    <div id="profile-pic" >
        {% load gravatar_profile %}
        {% gravatar profile.user 120%}
        {% if profile.location %}
         <p><span class="profile-info">{%trans 'location:' %}</span> {{ profile.location }}</p>
        {% endif %}
        {% if profile.gender %}
          <p><span class="profile-info">{%trans 'gender:' %}</span> {{ profile.gender }}</p>
        {% endif %}
        {% if profile.url %}
          <p><span class="profile-info">{%trans 'website:' %}</span> <a href="{{ profile.url }}"> {{ profile.url }}</a></p>
        {% endif %}    
    </div>
    <h3>{% trans 'all about me' %}</h3>
    <div id="profile-about">   
        <p>{{ profile.about }}</p>
    </div>

     <div id="tabs">
        <ul>
             <li><a href="/recipe/ajaxulist/share/{{ profile.user.username }}/">{%trans 'recipes' %}({{ profile.user.username|recipeCount:'shared'}})</a></li>
            {% if profile.user.username == request.user.username %}
             <li><a href="/recipe/ajaxulist/private/{{ profile.user.username }}/">{%trans 'private recipes' %}({{ profile.user.username|recipeCount:'private'}})</a></li>
             <li><a href="/recipe/ajax-favrecipe/">{%trans 'favorites' %}({{profile.user.storedrecipe_set.count}})</a></li>
             <li><a href="/list/grocery/grocery-ajax/"> {%trans 'grocery list' %}({{profile.user.grocerylist_set.count}})</a></li>
             <li><a href="#settings">{%trans 'settings' %}</a></li>
            {% endif %}

        </ul>
        {% if profile.user.username == request.user.username %}
        <div id="settings">
              <a href="/profiles/edit/">{%trans 'edit Profile' %}</a>
              <a href="/accounts/password/change/">{%trans 'change password' %}</a>
              <a href="/accounts/logout/">{%trans 'logout' %}</a>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}