{# login form called via an include statement #}
{% load i18n %}
{% if form.errors %}
    <div class="alert alert-danger">
        <strong>{% trans 'Alert!' %}</strong> {% trans "Your username and password didn't match. Please try again."%}
    </div>
{% endif %}

<div class="container">
    <div class="col-xs-12" style="height:50px;"></div>
    <div class="col-md-4">
        <form class="form-horizontal" method="post" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="id_username">{% filter capfirst %}{% trans 'username'  %}{% endfilter %}</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input autofocus="" class="form-control" placeholder="{% filter capfirst %}{% trans 'username'  %}{% endfilter %}" id="id_username" maxlength="254" name="username" required="" type="text">
                    </div>
                </div>
                <div class="cols-sm-10">
                    <div class="input-group">
                    <label class="sr-only" for="id_password">{% trans 'Password' %}</label>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input id="id_password" class="form-control" placeholder="{% trans 'Password' %}" name="password" required="" type="password">
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn">{% trans 'login' %}</button>
        </form>
    </div>
</div>