{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Password reset" %}</h1>
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>
    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %}{{ form.email.errors }}{% endif %}
        <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'reset password' %}" /></p>
    </form>
{% endblock %}