*{padding:0; margin:0;}
img { border:none;}
body{ font-size:14px; font-family:Georgia, serif; background:url(../images/main-bg.gif) center top;}
div#body-wrap {margin:0 auto; width:1430px;}
div#page-wrap {width:882px; margin:0 auto; padding:57px 0 65px 0; }
div#main{ background:#fff; width:100%; padding-left:10px;}
div#logo{margin-bottom:20px; padding-top:10px;}
div#title{background:url("../images/title-bg.gif") repeat-x top; margin-right:20px; margin-bottom:20px; -moz-border-radius: .8em; -webkit-border-radius: .8em;}

.ui-widget-header{font-size:90%;}

/*Navigation*/
div#nav-bar{ background:url(../images/nav-bg.gif) left top repeat-x; margin-right:20px; margin-bottom:10px; -moz-border-radius: .8em; -webkit-border-radius: .8em;}
div#nav-bar ul {padding:8px 0 8px 0;}
div#nav-bar li { display:inline;}
div#nav-bar li a { color:#fff; text-decoration:none; font-size:1.1em; text-transform:lowercase; background:url(../images/divider.gif) no-repeat left top; padding:0 14px 0 27px; letter-spacing:.1em; font-size:1.4em;}
div#nav-bar li a.first { background:none;}
div#nav-bar li a:hover { text-decoration:underline;}

/*Sidebar*/
div#sidebar{float:right; background:url("../images/sidebar-back.png") no-repeat; margin-top:58px; margin-right:20px; width:222px; height:615px;;}
div#sidebar { padding-left: 40px; padding-top:50px; font-family:Georgia, serif; line-height: 1.5em; letter-spacing: .3em; color:#484846; font-size:85%;}
div#sidebar a {color:#484846; text-decoration:none;}
div#sidebar a:hover{color:#459E00;}
div#sidebar h3 { padding-top: 8px; padding-left:20px; margin-bottom:5px;}
div#sidebar ul {  padding-top:15px; }
div#sidebar li {list-style:none; padding-left:20px;}

/*Login Menu */
div#login-menu { float:right; padding-top:2px;}
.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
.fg-button { clear:left; margin:0 4px 40px 20px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:left;  }
button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */

/* Login Form */
div#login-form, div#account-form { margin-top: 20px; }
div#login-form input, div#account-form input { height:20px; margin-bottom:20px;}
div#login-form label, div#account-form label {color:#484846; font-size:120%; float: left; text-align: right;	margin-right: 15px; width: 90px;}
div#login-tabs { width: 450px; height: 350px; position: absolute; left: 50%;  margin-left: -225px; top:250px;}

/* Registration Pages */
div#registration-complete h2 {color: #5f562a; margin-bottom:20px; width:220px;}

/*Content*/
#content { padding:8px 0 85px 0; margin-bottom:1400px;}

/*Search*/
div#search {float:right; padding-right:10px;}
h2#search-header {margin-bottom:20px; color:#484846;}
div#search input#id_q { height:20px; width:150px; }

/*footer*/
#footer {color:#5f562a; height:85px; border-top:4px solid #c3bfa5; font-size:.75em; padding-left:10px;}
#footer ul { padding:15px 0 5px 0; margin-left:-22px;}
#footer li { display:inline; margin-left:-1px; font-size:1.1em;  }
#footer li a { color:#847840 !important; text-decoration:none; background:url(../images/divider1.gif) no-repeat left; padding:0 19px 0 22px;}
#footer li a:hover { text-decoration:underline;}


/*Recipe Detail */
div#toolbar{padding-top:10px; height:45px; background:url("../images/ui-bg_gloss-wave.png") repeat-x scroll 50% 50% #ECE8DA; border:1px black solid; margin-right:20px; margin-bottom:20px; -moz-border-radius: .8em; -webkit-border-radius: .8em;}
div#recipe-title { font-size:1.8em; line-height:1.50em; padding-left:5px; color:#484846;}
div#toolbar span#toolbar-buttons{padding-left:15px;}
div#toolbar span#toolbar-buttons a {margin-left:5px;}
div#recipe-info { width: 500px; margin-bottom:10px;}
#recipe-report { color: #ff4500 !important; float:right;}
div#recipe-info span { color: #c53c0c; }
div#recipe-cook{ width: 600px; padding:5px; margin-bottom:5px; border:dotted 1px black; background-color: #FEFDF2; }
div#recipe-cook ul {text-align: center; color:#484846; font-size: 1.1em;}
div#recipe-cook li {display:inline; list-style: none; padding-right:15px;}
div#recipe-cook li span {font-weight:bold;}
div#recipe-info hr { border: 0; width:80%;  margin:15px 0 10px; background-color: #DAD3A9; color: #DAD3A9; height:1px; line-height:1px;}
div#recipe-ing{ float:left; width: 40%; margin-right:5px; border:1px solid #E6E5CB;  -moz-border-radius: .8em; -webkit-border-radius: .8em; padding:10px;}
div#recipe-ing h2{ background:url("../images/title-bg2.jpg") no-repeat scroll left top transparent; padding:6px 0 7px 70px; color:#434242; font-size:1.92em; font-weight:normal; line-height:1em; margin-bottom:10px; margin-left:8px;}
div#recipe-ing ul {background-color: #FEFDF2; border:1px solid #E6E5CB;  -moz-border-radius: .8em; -webkit-border-radius: .8em; padding:10px; }
div#recipe-ing li {list-style: none; border-bottom: dotted 1px #C8C199; margin-bottom:15px; padding-bottom:14px;  color:#484846;}
div#recipe-directions { padding:10px; margin-right:55px; margin-top:5px; float:right; color:#484846; width:45%;}
div#recipe-directions h2{color:#434242; font-size:1.92em; font-weight:normal; line-height:1em; margin-bottom:10px;}
div#recipe-comments{float:left; width:550px; margin-top:5px; clear:both;}
div#recipe-rate{float:right; padding:5px 40px 5px 5px; width:200px; border:1px burlywood dashed; border-right: none; color:#847840;}
div#caption{margin-right:60px;}
#messages {color: #fd1c24;}
#ajax-messages, li.success, h3.shared-list-heading{ margin-bottom:10px; padding:10px; border:1px green dashed; background-color: lightgreen; font-size: 140%; color:white; font-weight:bold; width:80%}
.remove-fav, .remove-grocery { float:right;}
li.error{ margin-bottom:10px; padding:10px; border:1px red dashed; background-color: #f08080; font-size: 140%; color:white; font-weight:bold; width:80%}
li.success, li.error { list-style: none;}
div#recipe-note {  float:left; clear:left; padding:10px; width:40%; height: 200px;}
.editable textarea { background-color: #FEFDF2; }
div#tags {color:#847840; float:right; margin-right:20px; padding:8px; width:250px; border:1px solid #E6E5CB;  -moz-border-radius: .8em; -webkit-border-radius: .8em; }
div#tags a { text-decoration: none; color:#459E00;}
div#tags a:hover { color:#c53c0c; }

/*Recipe List */
div.recipe {padding-bottom:25px; border-bottom:dotted 1px gray; color:#484846; margin-bottom:15px;}
div.recipe h4 {margin-bottom:5px;}
div.recipe p.chef { margin-bottom: 3px;}
div.recipe h4 a { color:#BD2200;}
div.recipe h4 a:hover { text-decoration:none;}
a.recipe-more { display:block; float:left; background:url(../images/link2-bg.gif) left top repeat-x; color:#fff; text-decoration:none;}
a.recipe-more em { display:block; background:url(../images/link2-left.gif) no-repeat left top; font-size:85%;}
a.recipe-more b { display:block; background:url(../images/link2-right.gif) no-repeat right top; padding:2px 22px 5px 25px; font-style:normal;}
a.recipe-more:hover { text-decoration:underline;}
img#list-thumb{float:left; padding-right:10px;}
div.recipe-rate{float:right;}


/* Recipe Form */
div#recipe-form { margin-top:20px; padding-bottom:10px;}
div#recipe-form input { height:20px;}
div#recipe-form label {	color:#484846; float: left; text-align: right;	margin-right: 15px; width: 90px;}
div#recipe-form textarea { width: 450px;}
div#recipe-form textarea:focus, input:focus { border: 2px solid #900;}
div#recipe-form label { font-size: 110%}
div#recipe-form em { padding-left: 8px; color:#5f562a;}
div#recipe-form p { margin-bottom: 10px;}
div#recipe-form p#recipe-photo{color:#484846; padding-bottom:5px; padding-left:18px;}
div#recipe-form p#recipe-photo a{color:#5f562a;}
div#recipe-form p#recipe-photo a:hover{color:#900;}
div#recipe-form p#recipe-photo label{float:none !important;}
table#ing-grid {border:1px solid #E6E5CB;  -moz-border-radius: .8em; -webkit-border-radius: .8em;}
table#ing-grid thead, table#list-grid thead  { color:#5f562a; font-size:120%; font-weight:bold;}
table#ing-grid thead th, table#list-grid thead th { padding:5px}
table#ing-grid td{ font-size: 90%; padding-bottom:15px;}
table#ing-grid td label {width:auto; margin-left:10px;}
table#ing-grid td#quantity input { width:40px;}
table#ing-grid td#measurement input { width:75px;}
table#ing-grid tr.row2, table#list-grid tr.row2  { background-color: #f6f4e2;}
table#ing-grid td a.delete-row {padding-left:18px; margin-left:5px; background:url(../images/delete.png) no-repeat left;}
table#ing-grid a.add-row {padding-left:18px; background:url(../images/add.png) no-repeat left center; }

/*form errors */

ul.errorlist li{list-style: none; color:red; font-size: 110%;}

/* Profile Form */
div#profile-form h2 {color: #5f562a; margin-bottom:20px;}
div#profile-form { margin-top:20px; padding-bottom:10px;}
div#profile-form input { height:20px; }
div#profile-form input#id_url, div#profile-form input#id_email { width:140px;}
div#profile-form label {color:#484846; float: left; text-align: right;	margin-right: 15px; width: 90px; font-size: 110%}
div#profile-form li { display:inline;}
div#profile-form ul {padding-bottom:25px; }
div#profile-form p#gender, div#profile-form ul { margin-top:15px;}
div#profile-form p { margin-bottom: 15px;}
div#profile-pic img { border:solid 1px #E6E5CB;  margin-bottom:8px; padding:8px;}
div#profile-pic { width: 350px; margin-bottom:30px;}
div#profile-form em { padding-left: 8px; color:#5f562a;}

/* Profile View */
div#user-profile { color: #484846 }
div#user-profile h2 { width:75%; color: #5f562a; margin-bottom:20px; padding-bottom: 25px; padding-top:15px; border-bottom: 1px solid #5f562a; }
span.profile-info { color:#c53c0c }
div#user-profile div#profile-about { width: 35%;  padding: 5px 10px 40px 10px; margin-bottom: 20px; margin-top: 20px;border: 1px solid #5f562a;}
div.following { margin:20px; }
dl.follow-caption        { position: relative; padding: .6em; margin: .4em; float:left;}
dl.follow-caption dt img  { display: block; }
dl.follow-caption dd      { position: absolute; left: 0.55em; bottom: .10em; font: bold 0.8em Helvetica, sans-serif; }
dl.follow-caption.top dd  { top: 1.25em; }
dl.follow-caption dd span { width:130px; display: block; float: left; clear: both; background: #000; background: rgba(0, 0, 0, 0.7); padding: 0.25em 0.55em; color: #fff; }
dl.follow-caption cite a  { color: #f5f5f5; font-size: 85%; padding-left:4px; font-weight:normal; text-decoration:none;}
dl.follow-caption cite a:hover { color:#EF8106;}

/* Cook View */
div#tenfoot{font-size:xx-large; width:800px;}
div#tenfoot hr { margin-bottom: 15px;}
div#tenfoot h2 { margin-bottom: 10px;}
div#tenfoot ul { margin-bottom: 15px;}

/* News View */
div#news { width:95%; border:1px solid #5f562a; background-color:#F5F3E5; height:300px;}
div#news-content { float:left; width: 60%; margin-left: 20px; margin-top:15px; padding:10px; color:#7A787D; font-size:120%; font-family:Georgia, serif;}
div#news-content h2 { padding-bottom:10px; color:#9F954A;}
div#news-photo-wrap { float:right; margin-left:10px;}
div#recent-recipes { margin-top: 30px; }
div#recent-recipes h1 { margin-bottom:10px; color:#EF8106;}

dl.captioned-image         { border: 1px solid #e0d3ab;  -moz-border-radius: .4em; -webkit-border-radius: .4em; position: relative; padding: .6em; margin: .4em; float:left;}
dl.captioned-image dt img  { display: block; }
dl.captioned-image dd      { position: absolute; left: 0; bottom: .40em; font: bold 1.5em Helvetica, sans-serif; }
dl.captioned-image.top dd  { top: 1.25em; }
dl.captioned-image dd span { width:225px; display: block; float: left; clear: both;
                             background: #000; background: rgba(0, 0, 0, 0.7);
                             padding: 0.25em 0.5em; color: #fff; }
dl.captioned-image cite   { color: #9F954A; font-size: 60%;}

/* Grocery List Index */
div#grocery-list { font-family:Georgia, serif; width:75%; }
div#grocery-list h1 { color: #459E00; letter-spacing: .1em; margin-bottom: 15px; }
div#grocery-list h3 a { color: #F57F04; letter-spacing: .1em; display:inline; text-decoration: none;}
div#grocery-list h3 a:hover { color:#459E00;}
div.grocery-detail hr{ border:none; border-top:1px #459E00 dotted; height: 1px; margin-top:5px; margin-bottom:5px;}
div.grocery-detail {margin-bottom:15px; border: 1px solid #484846; padding:5px;}
div.grocery-detail span {font-style: italic; font-size:90%; color:#BD2200;}
div.grocery-detail ul {margin:10px; padding-bottom:10px;}
div.grocery-detail ul li { letter-spacing: .1em; line-height:1.5em; list-style: disc; list-style-position: inside; color:#484846;}
div.grow1 {background-color:#F5F3E5;}
img.grocery-delete{ float:right; width:20px; height:20px;}

/* Grocery List View */
ul.grocery-item-list { margin:5px;}
ul.grocery-item-list li{list-style:none; margin-bottom:5px; color:#459E00;}
ul.grocery-item-list input{margin:3px;}
h3.aisle-header{color:#F57F04; padding-bottom:5px; padding-top:5px;}
h1.grocery-list-heading{color:#459E00; border-bottom:dotted 1px #9F954A ; margin-bottom:5px; padding-bottom: 5px;}

/*Grocery List Form */
p#list-title{padding-bottom:10px;}
P#list-title input {margin:8px;}
P#list-title label, table#list-grid label {color:#484846; font-size:120%;}
table#list-grid{margin-bottom: 8px;}
table#list-grid {width: 650px; border:1px solid #E6E5CB;  -moz-border-radius: .8em; -webkit-border-radius: .8em;}
table#list-grid td{ font-size: 90%; padding-bottom:15px; padding-left:4px;}
table#list-grid td input { width:180px;}
table#list-grid td a.delete-row {padding-left:18px; margin-left:10px; background:url(../images/delete.png) no-repeat left;}
table#list-grid a.add-row {padding-left:18px; background:url(../images/add.png) no-repeat left center; }

/*Tag Cloud*/
h2#tag-title {float:left; margin-top:20px; margin-left:365px; color:#F57F04}
div#tag-cloud {float:left; margin-top:20px; margin-left:150px; width:550px; border:1px solid #E6E5CB;  -moz-border-radius: .8em; -webkit-border-radius: .8em; }
div#tag-cloud ul { margin: 1em 0; padding: 0.5em 10px;  text-align: center;}
div#tag-cloud li { display: inline; list-style: none outside none;  margin: 0; padding: 0;}
div#tag-cloud li a { padding: 0 2px; text-decoration: none; color:#459E00;}
div#tag-cloud li a:hover { color: #c53c0c; }
.tag1 { font-size: 100%; }
.tag2 { font-size: 120%; }
.tag3 { font-size: 140%; }
.tag4 { font-size: 160%; }
.tag5 { font-size: 180%; }
.tag6 { font-size: 200%; }

/* Friend Feed*/
.friend-feed h3 { margin-bottom:8px; margin-top:8px;}

/* 404 Page */
div#404-image{ position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
}
/* About Page*/
div.about{padding-left:20px; padding-top:15px; width:75%; color:#484846;}
div.about h2{color:#F57F04; margin-bottom:5px;}
div.about p {padding-bottom: 15px;}
div.about h3 {color:#F57F04; padding-bottom:10px;}
div.about li {list-style:circle; padding-bottom:5px;}
