{% comment %}This template is called by other templates to display a list of grocery list, the template is passed a grocery list object from a list of grocery objects{% endcomment %}

{% load i18n %}
{% load sanitize %}

<div class="well grocery">
   <h3><a href="{% url 'grocery_show' user=list.author slug=list.slug %}">{{ list }}</a></h3>
   <hr />
   <span class="create-date">{% trans 'created on ' %} {{ list.pub_date }}</span>
   <ul>
     {%for item in list.items.all|slice:":5" %}
       <li>{{ item }}</li>
     {% endfor %}
    </ul>
</div>
