{% extends 'list/grocery_base.html' %}
{% load i18n %}
{% block jscript %}
     <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.formset.js"></script>
     <script type="text/javascript">
         $(function() {
             $('tbody tr').formset({
                 prefix: '{{ formset.prefix }}',
                 extraClasses: ['row1', 'row2']
             });
         })

         
     </script>
{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <div id="grocerylist-form">
        {{ form.title.errors }}
        <p id="list-title">{{ form.title.label_tag|lower }} {{ form.title }}</p>
        <input type="hidden" name="author" id="id_author" value="{{ user.id }}" />

            <div id="ingredients">
                <p>{{  formset.non_form_errors }}</p>
                <table id="list-grid">
                    <thead>
                    <tr>
                        <th>{% trans 'items' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for form in formset.forms %}
                            <tr id="{{ form.prefix }}-row" class="{% cycle 'row1' 'row2' %}">
                              <td>
                                {% for hid in form.hidden_fields %}{{ hid }}{% endfor %}
                                {% if form.instance.pk %} {{  form.DELETE }}{% endif %}
                                 {{ form.item.errors }} {{ form.item.label_tag|lower }}
                              </td>
                              <td class="item">{{ form.item }}</td>
                              <td>{{ form.aisle.errors }} {{ form.aisle.label_tag|lower }}</td>
                              <td class="aisle">{{ form.aisle }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>


        </div>
   
     </div>
    <p>{{ formset.management_form }}<input type="submit" value="{% trans "save list" %}" /></p>
</form>
{% endblock %}