{% extends 'list/grocery_base.html' %}
{% load i18n %}
{% block title %}OpenEats | {{ list.author }} | {% trans 'grocery list' %} {% endblock %}
{% block sidebar %}
    <h3>{% trans 'actions' %}</h3>
    <ul>
        <li><a href="{% url grocery_print user=list.author slug=list.slug %}">{% trans 'print ' %}{{ list }}</a></li>
        <li><a href="{% url grocery_edit user=list.author slug=list.slug %}">{%trans 'edit ' %} {{ list }}</a></li>
        <li><a href="{% url grocery_delete id=list.id %}">{%trans 'delete ' %} {{ list }}</a></li>
    </ul>
    {{ block.super }}
{% endblock %}
{% block content %}
<h1 class="grocery-list-heading">{{ list.author}} {% trans 'grocery list -' %} {{ list.title }}</h1><a href="{% url grocery_delete id=list.id %}" onclick="return confirm('Are you sure you want to delete?')" >
             <img class="grocery-delete" src="{{MEDIA_URL}}/images/remove.gif" alt="remove"/></a>
    {% load grocery_item %}
    {% item_tag list.groceryitem_set.all %}
{% endblock %}