{% extends 'list/grocery_base.html' %}
{% load i18n %}
{% block jscript %}
     <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.formset.js"></script>
     <script type="text/javascript">
         $(function() {
             $('tbody tr').formset({
                 prefix: '{{ formset.prefix }}',
                 extraClasses: ['row1', 'row2']
             });
         })

         
     </script>
{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <div id="grocerylist-form">
        {{ form.title.errors }}
        <p>{{ form.title.label_tag|lower }} {{ form.title }}</p>
        <input type="hidden" name="author" id="id_author" value="{{ request.user.id }}" />

            <div id="ingredients">
            <table id="ing-grid">
                <thead>
                    <tr>
                        <th>{% trans "items" %} {{ formset.non_form_errors }}</th>
                    </tr>
                </thead>
                <tbody>
                    {{ formset.management_form }}

                    {% for field in formset.forms %}
                    <tr class="{% cycle 'row1' 'row2' %}" >
                        <td>{{ field.item.label_tag|lower }}</td>                        
                        <td class="item">{{ field.item }}</td>
                        <td>{{ field.aisle.label_tag|lower }}</td>
                        <td class="aisle">{{ field.aisle }}</td>
                        
                    </tr>
                        {% for hid in field.hidden_fields %} {{hid}}{% endfor %} {% comment %} this is needed to edit a formset that exist already {% endcomment%}
                    {% endfor %}
                </tbody>
            </table>

        </div>
   
     </div>
    <p><input type="submit" value="{% trans "create" %}" /></p>
</form>
{% endblock %}