{% extends 'list/grocery_base.html' %}
{% load i18n %}
{% block title %} {% trans 'OpenEats Grocery List' %}{% endblock %}
{% block content %}
<div id="grocery-list" >
    <h1>{{ request.user }} {%trans 'grocery list'%}</h1>
        {% for glist in glists %}
        <div class="{% cycle 'grow1' 'grow2' %} grocery-detail"">
             
             <h3><a href="{% url grocery_show user=glist.author, slug=glist.slug %}">{{ glist }}</a></h3> <a href="{% url grocery_delete id=glist.id %}"></h3>
             <img class="grocery-delete" src="{{MEDIA_URL}}/images/remove.gif" alt="remove"/></a>
            <hr />
            <span class="create-date">{% trans 'created on ' %} {{ glist.pub_date }}</span>
            <ul>
           {%for item in  glist.groceryitem_set.all|slice:":5" %}
              <li>{{ item }}</li>
           {% endfor %}
            </ul>
        </div>
        {% empty %}
            <h3>{%trans 'You do not have any grocery list created' %}</h3>
        {% endfor %}
     
</div>
{% endblock %}