{% extends "base.html" %}
{% load i18n %}
{% block title %} 404 {% trans 'we could not find what you are looking for' %} {% endblock %}
{% block content %}

    <div id='404-image'>
        <h1>{% trans "Our chef's ruined this recipe in the test kitchen, we suggest you try something else" %}</h1>
        {% load static %}
        <img src="{% static "images/404.png" %}" alt="404 image"/>
        <p>{% trans "Sorry the page came back with a 404 error we can't find what you are looking for" %}</p>
        <p><a href="/">{% trans 'return to site' %}</a></p>
    </div>
{% endblock %}